<app-dashboard></app-dashboard>
<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Serial No</th>
                <th>Customer Name</th>
                <th>Address Line</th>
                <th>City</th>
                <th>Pincode</th>
                <th>State</th>
                <th>Country</th>
                <th>Total Price</th>
                <th>Mode Of Payment</th>
                <th>Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let vieworder of pageOfItems">
                <td>{{vieworder.id}}</td>
                <td>{{vieworder.customer.name}}</td>
                <td>{{vieworder.address.addressLine}}</td>
                <td>{{vieworder.address.city}}</td>
                <td>{{vieworder.address.pincode}}</td>
                <td>{{vieworder.address?.state?.name}}</td>
                <td>{{vieworder.address.state?.country?.name}}</td>
                <td>{{vieworder.totalPrice}}</td>
                <td>{{vieworder.modeOfPayment}}</td>
                <td>{{vieworder.date | date: 'dd-MM-yyyy hh:mm:ss'}}</td>
                <td>{{vieworder.status}}</td>
              </tr>
        </tbody>
      </table>
      <div  style="margin-left: 12cm;">
        <jw-pagination
          [items]="viewOrder"
          [pageSize]=5
          (changePage)="onChangePage($event)"
        ></jw-pagination>
      </div>
</div>

