<app-admin></app-admin>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Created On</th>
                <th>Updated On</th>
                <th colspan="2">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let viewmeal of viewMeal">
                <td>{{viewmeal.id}}</td>
                <td>{{viewmeal.name}}</td>
                <td>{{viewmeal.createdOn| date: 'dd-MM-yyyy hh:mm:ss'}}</td>
                <td>{{viewmeal.updatedOn| date: 'dd-MM-yyyy hh:mm:ss'}}</td>
                <td><button (click)="deleteMeal(viewmeal.id)" class="btn btn-danger" >Delete</button></td>
                <td><button (click)="updateMeal(viewmeal.id)" class="btn btn-success">Update</button></td>
              </tr>
        </tbody>
      </table>
      
</div>

