<app-dashboard></app-dashboard>
<div class="form-control">
    <form #userForm="ngForm" (ngSubmit)='userForm.form.valid && onUpdate(userForm.value)' style=" margin-left: 400px;">
        <h3 style="margin-left: 150px;">Update Password</h3>
        <div class="form-group col-md-6">
            <label for="password" ><b>Current Password</b></label>
            <input [type]="toggleOldPassword?'password':'text'" class="form-control" name="oldpassword" #oldpassword="ngModel" ngModel required>
            <div class="text-danger">
              <small
                *ngIf="
                  (oldpassword.touched || userForm.submitted) &&
                  oldpassword.errors?.required
                "
                >Current Password is required</small
              >
              </div>
              <div>
                <label for="toggler" style="font-size: small;">Show password</label>
                <input name="toggler"  class="toggler" type="checkbox" (click)="setToggleOldPassword()">
              </div>
             
          </div>
          <br>
          <div class="form-group col-md-6">
            <label for="password" ><b>New Password</b></label>
            <input [type]="toggleNewPassword?'password':'text'" class="form-control" name="newpassword" #newpassword="ngModel" ngModel required>
            <div class="text-danger">
              <small
                *ngIf="
                  (newpassword.touched || userForm.submitted) &&
                  newpassword.errors?.required
                "
                >New Password is required</small
              >
              </div>
              <div>
                <label for="toggler" style="font-size: small;">Show password</label>
                <input name="toggler"  class="toggler" type="checkbox" (click)="setToggleNewPassword()">
              </div>
             
          </div>
          <br>
      <button type="submit" style="margin-left: 160px;"  class="btn btn-info">Change Password</button>
     
      </form>
</div>