<app-dashboard></app-dashboard>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>Serial No</th>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
                <td>{{viewCustomer.id}}</td>
                <td>{{viewCustomer.name}}</td>
                <td>{{viewCustomer.phoneNumber}}</td>
                <td>{{viewCustomer.email}}</td>
        </tbody>
      </table>
      
</div>

