<app-dashboard></app-dashboard>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>Serial No</th>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let viewcustomer of viewCustomer">
                <td>{{viewcustomer.id}}</td>
                <td>{{viewcustomer.name}}</td>
                <td>{{viewcustomer.phoneNumber}}</td>
                <td>{{viewcustomer.email}}</td>
              </tr>
        </tbody>
      </table>
      
</div>

