<app-admin></app-admin>
<div [hidden]="submitted">
    <form #userForm="ngForm" (ngSubmit)='addMeal(userForm.value)' style=" margin-left: 400px;">
        <h3 style="margin-left: 130px;">Add Meal</h3>
        <br>    
          <div class="form-group col-md-6">
            <label for="mealname">Enter Meal Name</label>
            <input type="text" class="form-control" name="name" placeholder="Enter Meal name"  ngModel required>
        </div>
          <br>
        <button type="submit" style="margin-left: 150px;" [disabled]="userForm.invalid" class="btn btn-primary">Add Meal</button>
      </form>
</div>