<app-admin></app-admin>
<div>
    <form #userForm="ngForm" (ngSubmit)='userForm.form.valid && addState(userForm.value)' style="margin-top: 50px; margin-left: 400px;">
        <h3 style="margin-left: 130px;">Add State</h3>
        <br> 
          <div class="form-group col-md-6">
          <label for="countryname"> Country Name</label>
          <select required class="form-control"  name="country" ngModel  >
            <option value="" selected disabled>Select Country</option>
            <option *ngFor = "let c of country" [value]=c.id>{{ c.name }}</option>
          </select>
          </div>
          <br>
          <div class="form-group col-md-6">
            <label for="categoryname">Enter State Name</label>
            <input type="text" class="form-control" name="name" #name="ngModel" pattern="^[a-zA-Z ]*$" placeholder="Enter State name" ngModel required>
        </div>
        <div class="text-danger">
          <small
            *ngIf="
              (name.touched || userForm.submitted) &&
              name.errors?.required
            "
            >State Name is required</small
          >
          <small
          *ngIf="
            (name.touched || name.dirty) &&
            name.errors?.pattern
          "
          >State name can contain alphabets,space</small>
        </div>
          <br>
        <button type="submit" style="margin-left: 150px;"  class="btn btn-primary">Add</button>
      </form>
</div>