<app-admin></app-admin>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Created On</th>
                <th>Updated On</th>
                <th colspan="2">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let viewcategory of viewCategory">
                <td>{{viewcategory.id}}</td>
                <td>{{viewcategory.name}}</td>
                <td>{{viewcategory.createdOn | date: 'dd-MM-yyyy hh:mm:ss'}}</td>
                <td>{{viewcategory.updatedOn| date: 'dd-MM-yyyy hh:mm:ss'}}</td>
                <td><button (click)="deleteCategory(viewcategory.id)" class="btn btn-danger" >Delete</button></td>
                <td><button (click)="updateCategory(viewcategory.id)" class="btn btn-success" >Update</button></td>
              </tr>
        </tbody>
      </table>
      
</div>

