<div class="form-control">
    <form #userForm="ngForm" (ngSubmit)='userForm.form.valid && onLogin(userForm.value)' style=" margin-left: 400px;">
        <h3 style="margin-left: 150px;">Login</h3>
        <div class="form-group col-md-6">
            <label for="email"><b>Email Address</b></label>
            <input type="email" class="form-control" name="email" #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"   ngModel required>
            <div class="text-danger">
              <small
                *ngIf="
                  (email.touched || userForm.submitted) &&
                  email.errors?.required
                "
                >Email Address is required</small
              >
              <small
              *ngIf="
                (email.touched || email.dirty) &&
                email.errors?.pattern
              "
              >Email Address can contain alphanumerics,symbols</small
            >
            </div>
          </div>
          <br>
        <div class="form-group col-md-6">
            <label for="password" ><b>Password</b></label>
            <input [type]="togglePassword?'password':'text'" class="form-control" name="password" #password="ngModel" ngModel required>
            <div class="text-danger">
              <small
                *ngIf="
                  (password.touched || userForm.submitted) &&
                  password.errors?.required
                "
                >Password is required</small
              >
              </div>
              <div>
                <label for="toggler" style="font-size: small;">Show password</label>
                <input name="toggler"  class="toggler" type="checkbox" (click)="setTogglePassword()">
              </div>
             
          </div>
          <br>
      <button type="submit" style="margin-left: 160px;"  class="btn btn-info">Login</button>
      
      <div style="margin-top: 5%; margin-left: 85px;">
        <p class="mb-0">Don't you have an account? <a href="signUp" class="text-blue-50 fw-bold">Sign Up</a></p>
      </div>
      </form>
</div>