<div class="form-control">
    <form #userForm="ngForm" (ngSubmit)='onLogin(userForm.value)' style=" margin-left: 400px;">
        <h3 style="margin-left: 150px;">Login</h3>
        <div class="form-group col-md-6">
            <label for="email">Email Address</label>
            <input type="email" class="form-control" name="email"   ngModel required>
          </div>
          <br>
        <div class="form-group col-md-6">
            <label for="password" >Password</label>
            <input type="password" class="form-control" name="password"   ngModel required>
          </div>
          <br>
      <button type="submit" style="margin-left: 160px;" [disabled]="userForm.invalid" class="btn btn-info">Login</button>
      
      <div style="margin-top: 5%; margin-left: 85px;">
        <p class="mb-0">Don't you have an account? <a href="signUp" class="text-blue-50 fw-bold">Sign Up</a></p>
      </div>
      </form>
</div>