<app-admin></app-admin>
<div [hidden]="submitted">
    <form #userForm="ngForm" (ngSubmit)='userForm.form.valid && updateCategory(userForm.value)' style="margin-top: 50px; margin-left: 400px;">
        <h3 style="margin-left: 130px;">Update Category</h3>
        <br>    
          <div class="form-group col-md-6">
            <b><label for="categoryname">Enter Category Name to Update</label></b>
            <input type="text" class="form-control" ngModel name="name" placeholder="Enter Category name" pattern="^[a-zA-Z ]*$" #name="ngModel" [(ngModel)]="category.name" [value]="category.name" required>
        </div>
        <div class="text-danger">
          <small
            *ngIf="
              (name.touched || userForm.submitted) &&
              name.errors?.required
            "
            >Category Name is required</small
          >
          <small
          *ngIf="
            (name.touched || name.dirty) &&
            name.errors?.pattern
          "
          >Category name can contain alphabets,space</small
        >
        </div>
          <br>
        <button type="submit" style="margin-left: 150px;"  class="btn btn-primary">Update</button>
      </form>
</div>