<app-admin></app-admin>
<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Serial No</th>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Created On</th>
                <th>Updated On</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let viewcustomer of viewCustomer">
                <td>{{viewcustomer.id}}</td>
                <td>{{viewcustomer.name}}</td>
                <td>{{viewcustomer.phoneNumber}}</td>
                <td>{{viewcustomer.email}}</td>
                <td>{{viewcustomer.createdOn | date: 'dd-MM-yyyy hh:mm:ss'}}</td>
                <td>{{viewcustomer.updatedOn| date: 'dd-MM-yyyy hh:mm:ss'}}</td>
              </tr>
        </tbody>
      </table>
      
</div>

